@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #857852;
    --from-primary-linear: rgba(133, 120, 82, 0.4);
    --to-primary-linear: rgba(75, 85, 99, 0.2);

    --from-secondary-linear: rgba(107, 114, 128, 0.4);
    --to-secondary-linear: rgba(75, 85, 99, 0.2);

    --from-secondary-alt-linear: rgba(101, 101, 101, 0.3);
    --to-secondary-alt-linear: rgba(101, 101, 101, 0.1);
}

.flex-1-1-0{
    flex: 1 1 0px;
}

input {
    accent-color: var(--primary-color);
}

.flag-path {
    clip-path: polygon(43% 0, 100% 0%, 100% 100%, 15% 100%);
}

.outlined {
    color: var(--primary-color);
    background: -webkit-linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #857852;
}

.outlined-white{
    color: white;
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.pulse{
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(133, 120, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(133, 120, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(133, 120, 82, 0);
    }
}

.spotify-pulse {
    animation: spotify-pulse 1.5s ease infinite;
}

@keyframes spotify-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(29, 185, 84, 0.5);
    }

    80% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(29, 185, 84, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(29, 185, 84, 0);
    }
}

.bg-right {
    background-position: 95% 50%;
}

.primary-background {
    background: linear-gradient(90deg, var(--from-primary-linear), var(--to-primary-linear) 51%, var(--from-primary-linear)) var(--x, 0)/ 200%;
}

.secondary-background {
    background: linear-gradient(90deg, var(--from-secondary-linear), var(--to-secondary-linear) 51%, var(--from-secondary-linear)) var(--x, 0)/ 200%;
}

.secondary-alt-background {
    background: linear-gradient(90deg, var(--from-secondary-alt-linear), var(--to-secondary-alt-linear));
}

.primary-background-hover:hover,
.secondary-background-hover:hover{
    --x: 100%;
}

.hover-animation:after{
    animation: loop 2s ease-in-out infinite;
}

.hover-animation:nth-child(2):after{
    animation-delay: 1s;
}

.hover-animation:nth-child(4):after{
    animation-delay: 500ms;
}

@keyframes loop{
    0%{
    }
    50%{
        transform: translateY(5px);
    }
    100%{
    }
}

.slide-in {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
.slide-in a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 0 2px 0;
    position: relative;
}
.slide-in a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.slide-in a:hover:after {
    width: 100%;
    left: 0;
}
