///////////////////////////
//////Global Styles////////
///////////////////////////
* {
    font-family: "Corbel", sans-serif;
}

html {
    scroll-behavior: smooth;
}

///////////////////////////
//////////Container////////
///////////////////////////
.container {
    width: 95%;
    margin: 0 auto;
}

///////////////////////////
////////Chat Button////////
///////////////////////////
.button {
    span {
        #first {
            animation: morph 1.25s ease infinite;
        }

        #middle {
            animation: morph 1.25s .25s ease infinite;
        }

        #last {
            animation: morph 1.25s .5s ease infinite;
        }
    }
}

@keyframes morph {
    0% {
        r: 3;
    }
    30% {
        r: 4.5;
    }
    60% {
        r: 3;
    }
    100% {
        r: 3;
    }
}

///////////////////////////
/////Header-Nav Styles/////
///////////////////////////

.fixed-header {
    background: rgba(0, 0, 0, 0.6);
}

header {
    nav {
        .roll-link {
            display: inline-block;
            overflow: hidden;

            vertical-align: top;

            -webkit-perspective: 600px;
            -moz-perspective: 600px;
            -ms-perspective: 600px;
            perspective: 600px;

            -webkit-perspective-origin: 50% 50%;
            -moz-perspective-origin: 50% 50%;
            -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;

        }

        .roll-link:hover {
            text-decoration: none;
        }

        .roll-link span {
            display: block;
            position: relative;
            padding: 0 2px;

            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            transition: all 400ms ease;

            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .roll-link:hover span {
            background: transparent;


            -webkit-transform: translate3d(0px, 0px, -30px) rotateX(92deg);
            -moz-transform: translate3d(0px, 0px, -30px) rotateX(92deg);
            -ms-transform: translate3d(0px, 0px, -30px) rotateX(92deg);
            transform: translate3d(0px, 0px, -30px) rotateX(92deg);
        }

        .roll-link span:after {
            content: attr(data-title);

            display: block;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 2px;

            color: white;
            background: transparent;

            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

            -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
            -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
            -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
            transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
        }
    }
}

///////////////////////////
//////////Preloader////////
///////////////////////////

#preloader {
    height: 100%;
    width: 100%;
    position: relative;
    //background: $background-color;

    .preloader-group {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 3fr 1fr;

        .loader-container {
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;

            .background {
                position: relative;
                z-index: 1;
                pointer-events: none;
                user-select: none;
                transform: scale(1.4);
            }

            .lines {
                position: fixed;
                z-index: 2;
                pointer-events: none;
                user-select: none;
                transform: scale(1.4);
            }

            .logo {
                position: fixed;
                z-index: 3;
                pointer-events: none;
                user-select: none;
                transform: scale(1.6);
            }

            .bottom-center-circle {
                position: fixed;
                z-index: 4;
                pointer-events: none;
                user-select: none;
            }

            .top-center-circle {
                position: fixed;
                z-index: 5;
                pointer-events: none;
                user-select: none;

                svg {
                    animation: spin 1s linear infinite;
                    stroke-dasharray: 80 1000;
                    stroke-linecap: round;
                }
            }
        }

        .progress {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            justify-content: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .bar {
                width: 40%;
                height: 0.4rem;
                border-radius: 25px;
            }

            .percentage {
                width: 0%;
                height: 100%;
                border-radius: 25px;
            }

            svg {
                #first {
                    animation: morph 1.25s ease infinite;
                }

                #middle {
                    animation: morph 1.25s .25s ease infinite;
                }

                #last {
                    animation: morph 1.25s .5s ease infinite;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
